Django==5.0.1
psycopg2-binary==2.9.9
python-decouple==3.8
Pillow==10.2.0
requests==2.31.0
django-crispy-forms==2.1
crispy-bootstrap5==2.0.0
python-dotenv==1.0.0
whitenoise==6.6.0
django-cors-headers==4.3.1
reportlab==4.0.9
django-jazzmin==3.0.0
